.jumbotron-section {
  padding-top: 64px;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .parallax-jumbotron {
    position: absolute;
    height: calc(100% - 64px);
    width: 100%;
    margin-top: -64px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $breakpoint-tablet) {
      position: absolute;
      height: calc(100% - 120px);
      width: 100%;
      margin-top: -120px;
    }
  }

  .wrapper-jumbotron {
    .jumbotron {
      padding: 0 16px;
      position: relative;
      @media (min-width: $breakpoint-tablet) {
        padding: 0;
        position: relative;
      }

      .jumbotron-caption {
        font-family: $heading-font-family;
        letter-spacing: 1pt;
        display: block;
        color: #fff;
        font-size: 30px;
        line-height: 38px;
        font-weight: 900;
        padding: 32px;
        background-color: $secondary-color;

        @media (min-width: $breakpoint-tablet) {
          display: block;
          position: absolute;
          color: #fff;
          max-width: 380px;
          transform: none;
        }
      }
    }
  }
}
