/*  system of widths  */
$max-width-small-section: 600px;
$max-width-media-section: 768px;
$max-width-wide-section: 1024px;
$max-width-large-section: 1200px;
$max-width-full-section: 100%;
$max-width-large-header: 1620px;
