.icon-bar {
  display: none;
  position: fixed;
  bottom: 42px;
  right: 0;
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);
  z-index: 99;

  @media (min-width: $breakpoint-tablet) {
    display: block;
    position: fixed;
    left: 0;
    right: inherit;
    top: 50%;
    bottom: initial;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
  }
}

@import "./share-button";
